$light_black: #0A0102;
$pale_white: #FFFFFF;
$dark_red: #FF001C;
$border_clr: #E2E2E2;
$white: white;
$black: black;
$grey: grey;
$maroon: #A03037;
$deepgrey: #E2E2E2;
$creamwhite: #F5F5F5;
$boxshawdow_black: #00000029;
$light_grey: #E4E4E4;
$coal_black: #0A0102;
$deepgrey: #9D9D9D;
$palegrey: #878787;
