@import "colors";

.navbar-header{
    box-sizing: border-box;
}

.navbar-top{
    background: $maroon;
    height: 3.75rem; 
}

.navbar-title p {
    margin-left: 14.625rem;
    margin-top: -1.4375rem;
    width: 5.6875rem;
    height: 1.625rem;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: $white;
    text-transform: capitalize;
    opacity: 1;
}

img {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 1.9375rem;
    height: 1.5rem;
    margin-top: 1.125rem;
    margin-left: 12.125rem;
}

.input-group {
    margin-top: -0.3125rem;
}

input[type="search"]{
    width: 30.625rem;
    height: 2.0625rem;
    margin-top: -2.5rem;
    background: $light_white 0% 0% no-repeat padding-box;
    border-radius: 0.1875rem;
    margin-left: 21.5625rem;
    opacity: 1;
    padding-left: 2rem;
}

.input-group .fa-search {
    position: absolute;
    margin-left: 22.1875rem;
    margin-top: -1.875rem;
    color: $palegrey;
    opacity: 1;
}

.user{
    margin-left: 68.75rem;
    margin-top: -3.125rem;
    color: $white;
    opacity: 1;
}

.profile-content{
    margin-left: -0.875rem;
}

.cart{
    margin-left: 75rem;
    margin-top: -3.875rem;
    color: $white;
    opacity: 1;
}

.cart-content{
    margin-left: -0.3125rem;
}

.books-total{
    margin-left: 11.875rem;
    margin-top: 1.25rem;
}

.items{
    font-size: 1.125rem;
    color: $palegrey;
}

.sort-books{
    margin-left: 66.875rem;
    margin-top: 0px;
}

@media(max-width:1373px){
    .navbar-header{
        width: 55%;
    }
    .user{
        margin-left: 80%;
    }
    .cart{
        margin-left: 85%;
    }
    input[type="search"]{
        width: 103%;
        margin-left: 151%;
    }
    .sort-books{
        margin-left: 55%;
    }
}

@media(max-width:1026px){
    .navbar-header{
        width: 55%;
    }
    .user{
        margin-left: 80%;
    }
    .cart{
        margin-left: 85%;
    }
    input[type="search"]{
        width: 103%;
        margin-left: 151%;
    }
    .sort-books{
        margin-left: 55%;
    }
}