@import "colors";
.navbar-header{
    box-sizing: border-box;
}
.navbar-top{
    background: $maroon;
    height: 60px; 
}
.navbar-title p {
    margin-left: 234px;
    margin-top: -23px;
    width: 91px;
    height: 26px;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: $white;
    text-transform: capitalize;
    opacity: 1;
}
img {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 31px;
    height: 24px;
    margin-top: 18px;
    margin-left: 194px;
}
.input-group {
    margin-top: -5px;
}
input[type="search"]{
    width: 490px;
    height: 33px;
    margin-top:-40px;
    background: $light_white 0% 0% no-repeat padding-box;
    border-radius: 3px;
    margin-left:345px;
    opacity: 1;
    padding-left: 32px;
}
.input-group .fa-search {
    position: absolute;
    margin-left: 355px;
    margin-top: -30px;
    color: $palegrey;
    opacity: 1;
}
.user{
    margin-left: 1100px;
    margin-top: -50px;
    color: $white;
    opacity: 1;
}
.profile-content{
    margin-left: -14px;
}
.cart{
    margin-left: 1200px;
    margin-top: -62px;
    color: $white;
    opacity: 1;
}
.cart-content{
    margin-left: -5px;
}

.books-total{
    margin-left: 190px;
    margin-top: 20px;
}
.items{
    font-size: 18px;
    color: $palegrey;
}
.sort-books{
    margin-left: 1070px;
    margin-top:-32px;
}