@import 'colors';

.books-total{
    margin-left: 190px;
    margin-top: 0px;
    margin-bottom: -30px;
}

.card-book{
    margin-top: 60px;
    margin-left: 190px;
    margin-right: -9%;
    margin-bottom: -50px;
    float: left;
    width: 235px;
    height: 275px;
    background: $pale_white 0% 0% no-repeat padding-box;
    border: 1px solid $border_clr;
    border-radius: 3px;
    opacity: 1;
}

.image-section {
    width: 233px;
    height: 153px;
    margin-top: -5px;
    border-radius: 2px 2px 0px 0px;
    opacity: 1;
}

.image-container {
    margin-left: 64px;
    margin-top: 17px;
    width: 105px;
    height: 125px;
    background: $yellow;
    opacity: 1;
}

.title-section {
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0.2px;
    color: $light_black;
    opacity: 1;
    margin-left: 20px;
    margin-top: 0px;
    width: 195px;
    height: 19px;
    text-transform: capitalize;
}

.author-section {
    text-align: left;
    font: normal normal normal 13px/13px Roboto;
    letter-spacing: 0px;
    color: $palegrey;
    opacity: 1;
    width: 150px;
    height: 13px;
    margin-left: 20px;
    margin-top: 5px;
}

.price-section {
    text-align: left;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: $black;
    opacity: 1;
    margin-left: 20px;
    height: 16px;
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
}
.AddBag{
    background-color: $maroon;
    color: $white;
    margin-left: 20px;
    margin-top: 5px;
    outline: $maroon;
    font-size: 15px;
}

.wishlist{
    background-color: $light_white;
    margin-left: 10px;
    outline: $palegrey;
    border-radius: 2px;
    font-size: 15px;
}

.big-btn{
    background-color: #3371B5;
    color: $white;
    margin-left: 23px;
    width: 180px;
    margin-top: 8px;
}

@media(max-width:1024px){
    .card-book{
        margin-left: 4%;
    }
    .books-total{
        margin-top: -2.3%;
        margin-left: 10%;
    }
}

@media(max-width:768px){
    .card-book{
        margin-left: 4%;
    }
    .books-total{
        margin-top: -2.3%;
        margin-left: 10%;
    }
}

@media(max-width:375px){
    .card-book{
        margin-left: 20%;
    }
    .books-total{
        margin-top: -4.5%;
        margin-left: 20%;
    }
}

@media(max-width:812px){
    .card-book{
        margin-left: 20%;
    }
    .books-total{
        margin-top: -4.5%;
        margin-left: 20%;
    }
}